<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.secrettalk5"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Use Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.example.secrettalk5.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.secrettalk5.Setting_MyFragment"
            android:label="@string/title_activity_setting_my_fragment" >
        </activity>
        <activity
            android:name="com.example.secrettalk5.Listening_MyFragment"
            android:label="@string/title_activity_listening_my_fragment" >
        </activity>
        <activity
            android:name="com.example.secrettalk5.AboutProgram"
            android:icon="@drawable/ic_launcher"
            android:label="@string/aboutprogram" >
        </activity>
        <activity
            android:name="com.example.secrettalk5.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.secrettalk5.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
    </application>

</manifest>
